
body {
  background: #e9e2d0;
  box-sizing: border-box;
}

.outer {
	margin: 20px auto;
	width: 110px;
	height: 100px;
	padding: 0 2px;
	background: #00a8b5;
}

.inner {
	margin: -21px auto;
	width: 150px;
	height: 50px;
	background-color:#fbb901;
}

h1 {
  text-align: center;
  color: #fbb901;
  
  font-family: 'Oswald', sans-serif;
}

.inner h1 {
	border-bottom: 2px dotted #e62a76;
	font-family: 'Homemade Apple', cursive;
	color: #00a8b5;
}
